/*universal laws*/
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9
  align-text: center;
}


/* Header*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
  height: 69px;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: inherit;
}

.logo img {
  margin-left: 10px;
  height: 50px;
}

header nav span a{
  margin-left: 25px;
  margin-right: 25px;
  color: seashell;
}

/*MAIN*/
main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
/*MISSION*/
.mission {
  position: relative;
  padding-top: 70px;
  height:700px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image:url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
}

.mission .text-content {
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mission h2 {
  margin: 10px;
}

.mission h4 {
  margin: 10px;
}

/*TEAS*/
.teas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
}

.teas .text-content{
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
}

.first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.second-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.tea {
  margin: 20px;
}
.tea h4{
  margin: 10px;
  text-align: center;
}

.tea img  {
  height: 200px;
  width: 300px;
}
